<div class="language__picker ml__picker d-position-{{ dropdown_position | default: 'left' }} hide">
  <span class="intro-text">{{ 'layout.topbar.my_language' | t }}</span>
  <div class="has-drop">
    <div class="ml__current notranslate"></div>
    <div class="ml__dropdown"><ul class="ml__switcher"></ul></div>
  </div>
</div>