{%- if template.name == 'product' -%}
  {%- include 'photoswipe' -%}
{%- endif -%}

{%- if settings.shop_compare -%}
<div class="compare__modal d-flex flex-column align-items-stretch">
  <div class="compare__container">
    <div class="compare__close close-icon">×</div>
    <div class="compare__content"></div>
  </div>
</div>
<div class="compare__overlay"></div>
{%- endif -%}

{%- if settings.shop_compare -%}
<div class="cd-quick-view d-flex align-items-center justify-content-center">
  <div class="cd-content"></div>
  <div class="cd-overlay"></div>
</div>
{%- endif -%}

<div id="weketing_google_translate_element" class="hide"></div>