{%- capture my_video_link -%}{% include 'shortcode-render' render:'video' %}{%- endcapture -%}
{%- assign my_video = my_video_link | split: '?v=' | last -%}
{%- if my_video != blank -%}
<div class="widget__video">
  <div class="video__wrapper">
    <iframe class="pswp__video" src="//www.youtube.com/embed/{{ my_video }}" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
  </div>
</div>
{%- endif -%}