{%- if settings.roar_themedemo -%}
<div class="roar_themedemo-wrapper">
  <div class="roar_themedemo-icon"><i class="ion ion-ios-settings"></i></div>
  <div class="roar_themedemo-container">
    <ul class="roar_themedemo">
      <li>
        <a class="btn btn-primary" href="https://themeforest.net/item/marvo-responsive-shopify-theme-sections-ready/22587149?ref=roartheme" target="_blank">Buy now!</a>
      </li>
      <li>
        <h3>— Layout</h3>
        <div class="row">
          <div class="col-6"><button type="button" class="btn btn-small active roar_themedemo-box">WIDE</button></div>
          <div class="col-6"><button type="button" class="btn btn-small roar_themedemo-box boxed">BOXED</button></div>
        </div>
        <div class="row roar_themedemo-boxed hide">
          <div class="col-12">
            <h4>Boxed mode</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="btn-checkbox roar_themedemo-rtl"><label>Enable RTL support</label></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="btn-checkbox roar_themedemo-menu active"><label>Enable fixed header</label></div>
          </div>
        </div>
      </li>
      <li>
        <h3>— <strong>17+</strong> pre-made demos</h3>
        <p>Scroll down for more</p>
        
      </li>
    </ul>
  </div>
</div>
{%- endif -%}