{% schema %}
{
    "name": "Promotional Category",
    "settings": [],
    "presets": [
        {
            "name": "Promotional Category",
            "category": "THAHIR"
        }
    ]
}
{% endschema %}

<div class="promotional-category">
   <div class="container">
        <a href="https://www.shopscrubsandclogs.com/collections/wonderflex-30-off" class="promotional-category__item">
            <h3 class="promotional-category__title heading weight-600 size-32">{{ 'thr.promote-categories.heading' | t }}</h3>
            <img src="https://cdn.shopify.com/s/files/1/2610/4676/files/littmann-back-stock.jpg" alt="" class="promotional-category__image">
            <!-- <p class="promotional-category__para">If it’s handcrafted, vintage, custom or unique, it’s ScrubsStudio.</p> -->
            <p class="promotional-category__para">{{ 'thr.promote-categories.info' | t }}</p>
            
        </a>
    </div>
</div>

<!-- <div class="promotional-category">
    <div class="container">
         <a href="https://www.shopscrubsandclogs.com/collections/scrubs-studio" class="promotional-category__item">
             <h3 class="promotional-category__title heading weight-600 size-32">Scrubs Studio</h3>
             <img src="https://via.placeholder.com/946x616.png" alt="" class="promotional-category__image">
             <p class="promotional-category__para">Explore ScrubsStudio, beautifully crafted, uniqly designed, small yet meaningful, gift products for medical professionals and all.</p>
         </a>
     </div>
 </div> -->