{% schema %}
  {
    "name": "Homepage gender",
    "settings": [],
	"presets": [
		{
			"name" : "Homepage gender",
			"category": "THAHIR"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="thr-gender container">
	<a href="https://www.shopscrubsandclogs.com/collections/womens" class="thr-gender__item">
		<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/shopwomens.jpeg" alt="womens">
	</a>
	<a href="https://www.shopscrubsandclogs.com/collections/mens" class="thr-gender__item">
		<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/shopmen_d1fa9532-1531-47ee-abac-5cd81bec71af.jpeg" alt="mens">
    </a>
    <a href="https://www.shopscrubsandclogs.com/collections/unisex" class="thr-gender__item">
		<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/shopunisex.jpeg" alt="unisex">
	</a>

</div>