<div class="page-normal">
  {%- include 'page-header', page_object: page, page_title: page.title, page_breadcrumbs: true -%}
  <div class="page-content content-area">
    <div class="container">
      {% include 'shortcode' load: page.content %}
    </div>
  </div>
</div>